body,
html {
  height: 100%;
  margin: 0;
  background-color: white;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dashboard-main {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.dashboard-sidebar {
  width: 20%;
  min-width: 20%;
  padding: 20px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  overflow-y: auto;
}
.dashboard-iframe {
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
}
.nav-pills .nav-link {
  color: white;
  background-color: #064b76;
  margin-right: 10px;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background-color: #f5b218;
  color: #064b76;
}

i {
  color: #064b76;
}

i:hover {
  color: #f5b218;
}

.header-bar {
  background-color: #064b76;
  color: white;
  padding: 10px;
}
.btn-primary {
  background-color: #064b76;
  border-color: #064b76;
}
.btn-primary:hover {
  background-color: #f5b218;
  border-color: #f5b218;
  color: #064b76;
}
.inputTitle {
  font-weight: bold;
  text-decoration: underline;
  padding-top: 10px;
}
.inputButton {
  margin-top: 10px;
}
ul.fancytree-container {
  width: 100%;
  height: 50vh;
  overflow: auto;
  position: relative;
}
